    body {
    margin: auto;
    padding: 10px;
    width: 70%;
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: 4;
}

.container {
    text-align: center;
}

.back {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.justify {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.sup {
    grid-column: 1/2;
    grid-row: 2/4;
    border-top: hsl(180, 62%, 55%) 4px solid;
    border-radius: 2px;
}

.team {
    grid-column: 2/3;
    grid-row: 1/3;
    border-top: hsl(0, 78%, 62%) 4px solid;
    border-radius: 2px;
}

.karma {
    grid-column: 2/3;
    grid-row: 3/5;
    border-top: hsl(34, 97%, 64%) 4px solid;
    border-radius: 2px;
}

.calc {
    grid-column: 3/4;
    grid-row: 2/4;
    border-top: hsl(212, 86%, 64%) 4px solid;
    border-radius: 2px;
}

img {
    position: relative;
    margin-left: 200px;
}

@media screen and (max-width: 1116px) {
    .justify {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .sup {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .team {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .karma {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .calc {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    body {
        font-size: 10px;
    }
}

@media screen and (max-width: 682px) {
    .justify {
        display: block;
    }
    .back {
        margin-bottom: 10px;
    }